.slider2{
   
}
.slider_pt {
    font-size: 24px;
    color: red;
  text-align: center;
  margin-top: 100px;
  }
  h2{

  }
  .photo_slider{
    margin:0px 200px 0px 100px;
   position: relative;




  }
  .photo1{
    
    flex-shrink: 0;
    border-radius: 12px;
background:  lightgray 50% / cover no-repeat;
top: 15px;
  }
  .card_body{
    position: absolute;
    top:280px;
    width: 100%;
  }
  