/* .all_unspack1{
width: 613.997px;
height: 639.723px;
flex-shrink: 0;
fill: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
} */

.Rectangle{
    width: 613.997px;
    height: 639.723px;
    margin-left: 610px;
    margin-top: -5px;
}
.imgspack{
    width: 613.997px;
height: 639.723px;
margin-top: 250px;
position: absolute;
}
.text_spack{
    width: 466px;
height: 84px;
flex-shrink: 0;
color: white;
font-family: Core Sans C;
font-size: 34px;
font-style: normal;
font-weight: 800;
line-height: 50px; 
letter-spacing: 0.208px;
position: relative;
top: 350px;
left: 100px;
}
.text_subspack{
    color: white;
font-family: Causten;
font-size: 20px;
font-style: normal;
font-weight: 300;
position: relative;
letter-spacing: 1px;
width: 451px;
top: 400px;
left: 100px;
}
.shopnow_sub{
    color: rgb(17, 17, 17);
text-align: center;
font-family: Causten;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: inline-flex;
padding: 12px 44px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 8px;
background: #FFF;
position: relative;
top: 450px;
left: 100px;
}