.allflase{
    display: flex;
  
}
.unflase{
    margin: 137px 735px 100px 80px;
    left: 32px;
    display: inline-block;
   
   
   
    margin-right:90px; 
}
.flase{
    width:  560.934px;
    height: 340.844px;
    flex-shrink: 0;
    border-radius: 12px;
    background:  lightgray -106.346px -9.514px / 187.226% 212.215% no-repeat;
    text-align: center;
} 
.low_price{
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 30.067px; /* 167.038% */
letter-spacing: 0.251px;
position: relative;
left: 32px;
top:20px;

}
.High_Coziness{
color: rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 34px;
font-style: normal;
font-weight: 800;
line-height: 45.1px; /* 132.648% */
position: relative;
top:30px;
left: 32px;


}
.upto{
    color: rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 25.056px; /* 156.598% */
letter-spacing: 0.251px;
position: relative;
left: 32px;
top:55px;
}
.Explore_Items{
    color:rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 30.132px; /* 150.66% */
text-decoration-line: underline;
position: relative;
left: 32px;
top: 30px;
}



.unflase1{
    margin: 130px 555px 100px 100px;
    left: 32px;
    display: inline-block;
    width: 580.934px;
    height: 355.844px;
    margin-right:90px;
    
}
.flase1{
    width: 580.934px;
    height: 355.844px;
    flex-shrink: 0;
    border-radius: 12px;
    background:  red -106.346px -9.514px / 187.226% 212.215% no-repeat;
    text-align: center;
    margin-left: 210px;
} 
.low_price1{
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 30.067px; /* 167.038% */
letter-spacing: 0.251px;
position: relative;
left: 32px;
top:20px;
margin-left: 210px;

}
.High_Coziness1{
color: rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 34px;
font-style: normal;
font-weight: 800;
line-height: 45.1px; /* 132.648% */
position: relative;
top:30px;
left: 32px;

margin-left: 210px;

}
.upto1{
    color: rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 25.056px; /* 156.598% */
letter-spacing: 0.251px;
position: relative;
left: 32px;
top:55px;
margin-left: 210px;
}
.Explore_Items1{
    color:rgb(255, 255, 255);
font-family: Core Sans C;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 30.132px; /* 150.66% */
text-decoration-line: underline;
position: relative;
left: 32px;
top: 30px;
margin-left: 210px;
}
